img{
	height: 100px;
	width:100px;
	margin-top:5px;
}
body{
	background-color: #C2A052;
}
h1{
	font-family: 'Lobster';
	color:#261E12;
	font-size:80px;
	margin-left:105px;
	margin-top:-105px;
}

a{
color:#261E12;
text-decoration: none;
font-family: 'Gloria Hallelujah', cursive;
background-color: #C2A052;
}

a:hover{
	background-color: #C2A052;
color:#261E12;
text-decoration: none;
font-family: 'Gloria Hallelujah', cursive;
}

a:visited{
	background-color: #C2A052;
color:#261E12;
text-decoration: none;
font-family: 'Gloria Hallelujah', cursive;
}
h3{
	color:#261E12;
	font-family: 'Gloria Hallelujah', cursive;
	
	margin-left:50px;
}
h3#index{
	margin-left:110px;
	margin-top:-70px;
}
h3#services{
	margin-left:210px;
	margin-top: -55px;
}	
h3#about{
	margin-left:330px;
	margin-top:-55px;
}	
h3#contact{
	margin-left:460px;
	margin-top:-55px;
}
div{
	
	margin-left:50px;
font-family: 'Shadows Into Light', cursive;
	color: white;
}
div#indextext{
	font-size:18px;
	margin-left:70px;
}
ul{
	
font-family: 'Shadows Into Light', cursive;
	color: white;
	
	margin-left:50px;
}
p{
font-family: 'Shadows Into Light', cursive;
	color: white;
}
div#divcon{
	margin-left:50px;
}
div#divab{
	margin-left:50px;
}
#loader {
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: 1;
				width: 150px;
				height: 150px;
				margin: -75px 0 0 -75px;
				border: 16px solid #f3f3f3;
				border-radius: 50%;
				border-top: 16px solid #261E12;
				border-bottom: 16px solid #261E12;
				width: 120px;
				height: 120px;
				-webkit-animation: spin 2s linear infinite;
				animation: spin 2s linear infinite;
			}

		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
			100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}
		.animate-bottom {
			position: relative;
			-webkit-animation-name: animatebottom;
			-webkit-animation-duration: 1s;
			animation-name: animatebottom;
			animation-duration: 1s
		}

		@-webkit-keyframes animatebottom {
			from { bottom:-100px; opacity:0 } 
			to { bottom:0px; opacity:1 }
		}

		@keyframes animatebottom { 
			from{ bottom:-100px; opacity:0 } 
			to{ bottom:0; opacity:1 }
		}

		#myDiv {
			display: none;
			text-align: center;
		}